@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
$schema-limit: 4;
$schema-theme1: #28a745;
$schema-theme2: #17a2b8;
$schema-theme3: #ffc107;
$schema-theme4: #553ffc;
$schema-black: #000;
$schema-white: #fff;
$schema-colors: (
	1: (
		1: $schema-theme1,
		2: rgba($schema-theme1, 0.68),
		3: rgba($schema-theme1, 0.38),
		4: mix($schema-theme1, $schema-white),
	),
	2: (
		1: $schema-theme2,
		2: rgba($schema-theme2, 0.68),
		3: rgba($schema-theme2, 0.38),
		4: mix($schema-theme2, $schema-white),
	),
	3: (
		1: $schema-theme3,
		2: rgba($schema-theme3, 0.68),
		3: rgba($schema-theme3, 0.38),
		4: mix($schema-white, $schema-theme3),
	),
	4: (
		1: $schema-theme4,
		2: rgba($schema-theme4, 0.68),
		3: rgba($schema-theme4, 0.38),
		4: mix($schema-white, $schema-theme4),
	),
);

$progress-color: #c2b0ac;
$--light: #afa9a9;
.text3 {
	font-family: 'Gloria Hallelujah', cursive;
}
.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
	background: $progress-color;
	transform-origin: 0%;
}
#nprogress .bar {
	background: $progress-color;
	height: 3.3px;
}

#nprogress .peg {
	box-shadow:
		0 0 10px $progress-color,
		0 0 5px $progress-color;
}

#nprogress .spinner-icon {
	display: none;
	border-top-color: $progress-color;
	border-left-color: $progress-color;
}
// Scrollbar css
html *::-webkit-scrollbar {
	border-radius: 0;
	width: 8px;
}

html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}
// table-scrollx
.table-scrollx {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#ccc, 0.7);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: transparentize(#6b7280, 0.5);
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	}
}
// back to top
.top-to-btm {
	position: fixed;
	z-index: 1;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-bottom: 2rem;
	margin-right: 1.5rem;
	bottom: 0px;
	right: 0px;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: $--light;
	cursor: pointer;
	transition: all 0.2s ease-out 0s;
}
// spotify
@keyframes quiet {
	25% {
		transform: scaleY(0.6);
	}
	50% {
		transform: scaleY(0.4);
	}
	75% {
		transform: scaleY(0.8);
	}
}

@keyframes normal {
	25% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.4);
	}
	75% {
		transform: scaleY(0.6);
	}
}
.boxContainer {
	display: flex;
	justify-content: space-between;
	--boxSize: 4px;
	--gutter: -1px;
	width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
	transform: scaleY(0.4);
	height: 100%;
	width: var(--boxSize);
	background: #1db954;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	border-radius: 8px;
}

.box1 {
	animation-name: quiet;
}

.box2 {
	animation-name: normal;
}

.box3 {
	transition-delay: 250ms;
	animation-name: quiet;
}

@media only screen and (min-width: 1000px) {
	.move-position {
		animation: moveSpotify 3s ease-out infinite;
		transition: all 0.5s ease-out;
		z-index: 20;
	}
	@keyframes moveSpotify {
		0% {
			transform: translateY(0px);
		}

		50% {
			transform: translateY(-6px);
		}

		100% {
			transform: translateY(0px);
		}
	}
}
// ball
.ball-transitions {
	transition:
		opacity 0.2s,
		transform 0.2s;
}
// tippy
.dark .tippy-tooltip-content {
	color: #000 !important;
}
.tippy-tooltip {
	color: #000 !important;
	background-color: #dccdcd !important;
}
.arrow-regular {
	bottom: -6px !important;
	border-top-color: #dccdcd !important;
}

// border
.border-image-clip-path {
	border-image: linear-gradient(45deg, violet, purple) 1;
	clip-path: inset(0px round 0px);
	animation: huerotate 8s infinite linear;
	filter: hue-rotate(360deg);
}
@keyframes huerotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rorate(360deg);
	}
}

// table
.table-border::after {
	content: '';
	border-bottom: 1px solid #ababab;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
// heart
.heart-before::before {
	content: '';
	background-image: url('../../public/assets/image/love.png');
	background-repeat: no-repeat;
	height: 24px;
	left: 0;
	left: 50%;
	margin-left: -12px;
	margin-top: -12px;
	position: absolute;
	right: auto;
	top: 0;
	top: 50%;
	width: 24px;
	background-position: -552px 0;
}
.heart-after::after {
	content: '';
	background-image: url('../../public/assets/image/love.png');
	background-repeat: no-repeat;
	height: 24px;
	left: 0;
	left: 50%;
	margin-left: -12px;
	margin-top: -12px;
	position: absolute;
	right: auto;
	top: 0;
	top: 50%;
	width: 24px;
}

// theme-toggle
.theme-toggle {
	--size: 1.5rem;
	--icon-fill: hsl(210 10% 30%);
	--icon-fill-hover: hsl(210 10% 15%);

	background: none;
	border: none;
	padding: 0;

	inline-size: var(--size);
	block-size: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;

	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;

	outline-offset: 5px;

	& > svg {
		inline-size: 100%;
		block-size: 100%;
		stroke-linecap: round;
	}

	[data-mode='dark'] & {
		--icon-fill: hsl(208 100% 97%);
		--icon-fill-hover: hsl(210 15% 90%);
	}
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
	transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
	stroke: var(--icon-fill);
	stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
	stroke: var(--icon-fill-hover);
}

[data-mode='dark'] .sun-and-moon > .sun {
	transform: scale(1.75);
}

[data-mode='dark'] .sun-and-moon > .sun-beams {
	opacity: 0;
}

[data-mode='dark'] .sun-and-moon > .moon > circle {
	transform: translateX(-7px);
}

@supports (cx: 1) {
	[data-mode='dark'] .sun-and-moon > .moon > circle {
		cx: 17;
		transform: translateX(0);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.sun-and-moon > .sun {
		transition: transform 0.5s var(--ease-elastic-3);
	}

	.sun-and-moon > .sun-beams {
		transition:
			transform 0.5s var(--ease-elastic-4),
			opacity 0.5s var(--ease-3);
	}

	.sun-and-moon .moon > circle {
		transition: transform 0.25s var(--ease-out-5);
	}

	@supports (cx: 1) {
		.sun-and-moon .moon > circle {
			transition: cx 0.25s var(--ease-out-5);
		}
	}

	[data-mode='dark'] .sun-and-moon > .sun {
		transition-timing-function: var(--ease-3);
		transition-duration: 0.25s;
		transform: scale(1.75);
	}

	[data-mode='dark'] .sun-and-moon > .sun-beams {
		transition-duration: 0.15s;
		transform: rotateZ(-25deg);
	}

	[data-mode='dark'] .sun-and-moon > .moon > circle {
		transition-duration: 0.5s;
		transition-delay: 0.25s;
	}
}
.experiment-container {
	@each $schema, $colors in $schema-colors {
		@each $color, $value in $colors {
			.schema#{$schema} {
				background-color: $value;
			}
		}
	}
}
.pixel-grid {
	&-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		& > .pixel {
			border-radius: 3px;
			flex: 1;
			min-height: 0;
			min-width: 0;

			@each $schema, $colors in $schema-colors {
				@each $color, $value in $colors {
					&.schema#{$schema}.color#{$color} {
						background-color: $value;
					}
				}
			}
		}
		&.big-size {
			.pixel {
				margin: 4.5px;
				min-height: 48px;
				max-height: 48px;
				min-width: 48px;
				max-width: 48px;
			}
		}
		&.small-size {
			.pixel {
				margin: 3px;
				min-height: 18px;
				max-height: 18px;
				min-width: 18px;
				max-width: 18px;
			}
		}
	}
	&-tooltip {
		background-color: #000;
		border-radius: 2px;
		color: #fff;
		font-size: 14px;
		line-height: 24px;
		max-width: 318px;
		min-width: 185px;
		padding: 11px 20px;
		border-radius: 4px;
		text-align: center;
		& > .tooltip-date {
			color: #adadad;
		}
		& > .tooltip-scrobbles {
			font-size: 17px;
			font-weight: 700;
		}
	}
}
.lyrics {
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 62vh;
	overflow-y: scroll;
	-ms-overflow-style: none;
	// &::-webkit-scrollbar {
	// 	display: none;
	// }
	div.line {
		cursor: pointer;
		font-family: 'Heebo', sans-serif;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.4rem;
		letter-spacing: -0.01em;
		color: rgba(0, 0, 0, 0.8);
		text-align: left;
		padding-top: 1rem;
		padding-bottom: 1rem;
		&.passed {
			color: rgba(255, 255, 255, 0.7);
			-webkit-filter: none;
			filter: none;
			opacity: 1;
		}
		&.active {
			color: rgb(255, 255, 255);
			-webkit-filter: none;
			filter: none;
			opacity: 1;
		}
	}
}
@media screen and (max-width: 768px) {
	.lyrics div.line {
		font-size: 1.5rem;
	}
}
