$progress-color: #c2b0ac;
.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
	background: $progress-color;
	transform-origin: 0%;
}
#nprogress .bar {
	background: $progress-color;
	height: 3.3px;
}

#nprogress .peg {
	box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
}

#nprogress .spinner-icon {
	display: none;
	border-top-color: $progress-color;
	border-left-color: $progress-color;
}
// Scrollbar css
html *::-webkit-scrollbar {
	border-radius: 0;
	width: 8px;
}

html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}

// back to top
.top-to-btm {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	width: 3rem;
	height: 3rem;
	font-size: 1rem;
	line-height: 3rem;
	z-index: 1;
	background-color: #afa9a9;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
// spotify
@media only screen and (min-width: 1000px) {
	.move-position {
		animation: moveSpotify 3s ease-out infinite;
		transition: all 0.5s ease-out;
		z-index: 20;
	}
	@keyframes moveSpotify {
		0% {
			transform: translateY(0px);
		}

		50% {
			transform: translateY(-6px);
		}

		100% {
			transform: translateY(0px);
		}
	}
}
// ball
.ball-transitions {
	transition: opacity 0.2s, transform 0.2s;
}
